@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html,body {
	font-family: 'Rubik', sans-serif;
	transition: all 0.2s ease;
}

body {
	margin: 0;
	margin-bottom: 90px;
}

header {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: rgb(92, 79, 232);
}
header h1 {
	font-size: 36pt;
	margin: 20px;
	text-align: center;
	color: white;
}

main {
	padding: 20px;
	display: grid;
	grid-template-areas:
	"code image"
	"log  log";
	grid-template-columns: min-content auto;
	gap: 10px;
}
.layout-code {
	grid-area: code;
}
.layout-image {
	grid-area: image;
}
.layout-log {
	grid-area: log;
}

footer {
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	display: flex;

	align-items: center;
	width: 100%;
	height: 80px;
	padding: 10px;

	background-color: lightgray;
}

footer p {
	display: block;
	margin: 5px;
}

#code {
	width: 600px;
	height: 500px;
	border: 1px grey solid;
	border-radius: 2px;
	padding: 2px;
	resize: both !important;
	overflow: auto;
}
pre {
	border: 1px grey solid;
}

.center-v {
	display: flex;
	align-items: center;
}

input[type='checkbox'] {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

canvas {
	border: 1px solid black;
}